* {
  font-family: "Source Sans Pro";
}


html,
body,
form {
  height: 100%;
}

.main {
  height: auto;
}

.bg-img {
  background-image: url("bg5.jpg");
}

.header {
  color: hsla(177, 93%, 28%, 1);
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
}

#navAmb {
  color: white;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
}

footer {
  background-color: hsla(177, 93%, 28%, 0.616);
  text-align: center;
  color: white;
  
}

#button {
  background-color: hsla(177, 93%, 28%, 1);
  color: white;
}
